body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
