<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.1/tingle.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="nightmare-panel-main" v-if="visible">
        <div class="nightmare-panel-container">
          <div class="nightmare-panel-header">
            <div class="nightmare-panel-header__info">
              <div class="nightmare-panel-header__username">
                <span>{{ $t('welcome') }},</span>
                <span>{{ name }}</span>
              </div>
            </div>
            <div class="nightmare-panel-header__title">
              <h2>{{ $t('inventory') }}</h2>
            </div>
            <button class="nightmare-panel-header__exit" @click="quit()">
              {{ $t('exit') }} <i class="lni-exit"></i>
            </button>
          </div>
          <div class="nightmare-panel-account">
            <div class="nightmare-panel-account__info">
              <i class="lni-wallet"></i>
              ${{ wallet }}
            </div>
            <div class="nightmare-panel-account__info">
              <i class="lni-money-protection"></i>
              ${{ bank }}
            </div>
          </div>
          <div class="nightmare-panel-content">
            <div class="row">
              <div v-for="item of items" class="col-sm-3">
                <div class="nightmare-panel-item-card">
                  <div class="image">
                    <img :src="'img/icons/' + item.name + '.png'" :alt="item.label" />
                  </div>

                  <h2>{{ item.label }}</h2>
                  <h3>{{ $t('quantity') }}: {{ item.count }}</h3>

                  <div class="nightmare-panel-item-card__footer">
                    <!-- <quantity v-model="item.count" :max="item.limit"></quantity> -->
                    <button class="default-button" @click="useItem(item)">
                      {{ $t('use') }}
                    </button>
                    <button class="default-button danger-button" @click="setDropItem(item)">
                      {{ $t('drop') }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <modal name="drop-modal" @before-close="beforeCloseModal" width="300" height="auto">
          <h2 class="nightmare-panel-modal__title">{{ $t('drop_item') }}</h2>

          <div class="nightmare-panel-modal__content">
            <input
              type="number"
              class="primary-input"
              placeholder="1"
              v-model="dropCount"
              v-focus
              min="1"
              :max="dropItem.count"
            />
          </div>

          <div class="nightmare-panel-modal__footer">
            <button class="default-button" @click="dropItem">
              {{ $t('confirm') }}
            </button>
            <button class="default-button cancel-button" @click="$modal.hide('drop-modal')">
              {{ $t('cancel') }}
            </button>
          </div>
        </modal>
        <div id="debug" v-if="debug">{{ debug }}</div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.28/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="js/locales.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
