body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7a20d5;
  --secondary-color: #9950e2;
  --thirdary-color: #601ba5;
  --gray-color: #353535;
  --light-gray-color: #bdbdbd;
  --primary-gradient: linear-gradient(
    to right,
    var(--thirdary-color) 0%,
    var(--secondary-color) 100%
  );
  --primary-gradient--inverted: linear-gradient(
    to right,
    var(--secondary-color) 0%,
    var(--thirdary-color) 100%
  );
  --sm-gutter: 8px;
  --md-gutter: 16px;
}

button {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

button.default-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 0 var(--md-gutter);
  background: linear-gradient(to right, var(--thirdary-color) 0%, var(--secondary-color) 100%);
}

button.cancel-button {
  background: white;
  color: var(--primary-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.primary-input {
  width: 100%;
  border: 2px solid #8a42d2;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  color: #964ddf;
}

.md-margin-top {
  margin-top: var(--md-gutter);
}

.nightmare-panel-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.nightmare-panel-main h1 {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2em;
  font-weight: 500;
}

.nightmare-panel-item-card {
  width: 100%;
  height: 270px;
  border-radius: 8px;
  padding: var(--md-gutter);
  margin-bottom: var(--md-gutter);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.nightmare-panel-item-card h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-color);
}

.nightmare-panel-item-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  color: var(--gray-color);
}

.nightmare-panel-item-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nightmare-panel-item-card button {
  justify-content: center;
  width: 45%;
  height: 40px;
}

.nightmare-identity-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
}

.nightmare-identity-add > i {
  font-size: 48px;
  color: white;
  margin-bottom: var(--md-gutter);
}

.nightmare-identity-add > span {
  font-size: 18px;
  color: white;
}

/* Modal component */
.nightmare-panel-modal__title {
  margin-left: var(--md-gutter);
  color: var(--primary-color);
}

.nightmare-panel-modal__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--md-gutter);
}

.nightmare-panel-modal__footer {
  display: flex;
  flex-direction: row;
  padding: var(--md-gutter);
}

#debug {
  color: white;
}
