<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.1/tingle.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="nightmare-panel-main" v-if="visible">
        <div class="nightmare-panel-container">
          <div class="nightmare-panel-header">
            <div class="nightmare-panel-header__info">
              <div class="nightmare-panel-header__brand">
                <img src="img/logo.png" alt="NightBank" height="65" />
              </div>
              <div class="nightmare-panel-header__username">
                <span>{{ $t('welcome') }},</span>
                <span>{{ name }}</span>
              </div>
            </div>
            <button class="nightmare-panel-header__exit" @click="logout()">
              {{ $t('exit') }} <i class="lni-exit"></i>
            </button>
          </div>
          <div class="nightmare-panel-content">
            <div class="nightmare-panel-content__resume">
              <h4>{{ $t('current_balance') }}</h4>
              <div class="balance-amount">
                <span>$</span>
                <span>{{ balance }}</span>
              </div>

              <h4>{{ $t('last_transactions') }}</h4>
              <table class="transactions">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>18/05/2019</td>
                    <td>$600.50</td>
                    <td>Transferência</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="nightmare-panel-content__actions">
              <button class="default-button withdraw-button" @click="$modal.show('withdraw-modal')">
                <i class="lni-exit-up"></i> {{ $t('withdraw') }}
              </button>
              <button class="default-button deposit-button" @click="$modal.show('deposit-modal')">
                <i class="lni-exit-down"></i> {{ $t('deposit') }}
              </button>
              <button class="default-button transfer-button" @click="$modal.show('transfer-modal')">
                <i class="lni-arrows-horizontal"></i> {{ $t('transfer') }}
              </button>
            </div>
          </div>
        </div>

        <!-- Modals -->
        <modal name="withdraw-modal" @before-close="beforeCloseModal" width="300" height="auto">
          <h2 class="nightmare-panel-modal__title">{{ $t('withdraw_money') }}</h2>

          <div class="nightmare-panel-modal__content">
            <input
              type="number"
              class="primary-input"
              placeholder="$ 0"
              v-model="withdrawAmount"
              v-focus
            />
          </div>

          <div class="nightmare-panel-modal__footer">
            <button class="default-button" @click="withdraw">
              {{ $t('confirm') }}
            </button>
            <button class="default-button cancel-button" @click="$modal.hide('withdraw-modal')">
              {{ $t('cancel') }}
            </button>
          </div>
        </modal>
        <modal name="deposit-modal" @before-close="beforeCloseModal" width="300" height="auto">
          <h2 class="nightmare-panel-modal__title">{{ $t('deposit_money') }}</h2>

          <div class="nightmare-panel-modal__content">
            <input
              type="number"
              class="primary-input"
              placeholder="$ 0"
              v-model="depositAmount"
              v-focus
            />
          </div>

          <div class="nightmare-panel-modal__footer">
            <button class="default-button" @click="deposit">
              {{ $t('confirm') }}
            </button>
            <button class="default-button cancel-button" @click="$modal.hide('deposit-modal')">
              {{ $t('cancel') }}
            </button>
          </div>
        </modal>
        <modal name="transfer-modal" @before-close="beforeCloseModal" width="300">
          <h2 class="nightmare-panel-modal__title">{{ $t('transfer_money') }}</h2>

          <div class="nightmare-panel-modal__content">
            <input
              type="number"
              class="primary-input"
              placeholder="$ 0"
              v-model="transferAmount"
              v-focus
            />
            <input
              type="number"
              class="primary-input md-margin-top"
              placeholder="Player ID"
              v-model="transferDestiny"
            />
          </div>

          <div class="nightmare-panel-modal__footer">
            <button class="default-button" @click="transfer">
              {{ $t('confirm') }}
            </button>
            <button class="default-button cancel-button" @click="$modal.hide('transfer-modal')">
              {{ $t('cancel') }}
            </button>
          </div>
        </modal>
        <div id="debug" v-if="debug">{{ debug }}</div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.28/dist/index.min.js"></script>
    <script src="js/locales.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
