<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.15.1/tingle.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="nightmare-panel-main" v-if="visible">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>{{ $t('title') }}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3" v-for="char in characters" v-if="characters.length">
              <div class="nightmare-panel-item-card"></div>
            </div>
            <div class="col-sm-3">
              <div class="nightmare-panel-item-card"></div>
            </div>
            <div class="col-sm-3" v-if="characters.length < 4">
              <button class="nightmare-identity-add" @click="$modal.show('add-char-modal')">
                <i class="lni-plus"></i>
                <span>{{ $t('add_character') }}</span>
              </button>
            </div>
          </div>
        </div>
        <modal name="add-char-modal" @before-close="beforeCloseModal" width="300" height="auto">
          <h2 class="nightmare-panel-modal__title">Modal Title</h2>

          <div class="nightmare-panel-modal__content">
            Modal Content
          </div>

          <div class="nightmare-panel-modal__footer">
            <button class="default-button">
              Button
            </button>
          </div>
        </modal>
        <div id="debug" v-if="debug">{{ debug }}</div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.28/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="js/locales.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
