body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-image: url('../img/background.jpg');
  background-size: cover;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7a20d5;
  --secondary-color: #9950e2;
  --thirdary-color: #601ba5;
  --gray-color: #555555;
  --light-gray-color: #bdbdbd;
  --sm-gutter: 8px;
  --md-gutter: 16px;
}

.nightmare-loadscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 calc(100vw / 6);
}

.nightmare-loadscreen__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nightmare-loadscreen__loader .progress {
  width: 100%;
  height: 2em;
  border-radius: calc(2em / 2);
  background: white;
}

.nightmare-loadscreen__loader .progress .progress-bar {
  border-radius: calc(2em / 2);
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.nightmare-loadscreen__loader-label {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-bottom: var(--md-gutter);
}

.circles-to-rhombuses-spinner,
.circles-to-rhombuses-spinner * {
  box-sizing: border-box;
}

.circles-to-rhombuses-spinner {
  height: 15px;
  width: calc((15px + 15px * 1.125) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles-to-rhombuses-spinner .circle {
  height: 15px;
  width: 15px;
  margin-left: calc(15px * 1.125);
  transform: rotate(45deg);
  border-radius: 10%;
  border: 3px solid white;
  overflow: hidden;
  background: transparent;

  animation: circles-to-rhombuses-animation 1200ms linear infinite;
}

.circles-to-rhombuses-spinner .circle:nth-child(1) {
  animation-delay: calc(150ms * 1);
  margin-left: 0;
}

.circles-to-rhombuses-spinner .circle:nth-child(2) {
  animation-delay: calc(150ms * 2);
}

.circles-to-rhombuses-spinner .circle:nth-child(3) {
  animation-delay: calc(150ms * 3);
}

@keyframes circles-to-rhombuses-animation {
  0% {
    border-radius: 10%;
  }

  17.5% {
    border-radius: 10%;
  }

  50% {
    border-radius: 100%;
  }

  93.5% {
    border-radius: 10%;
  }

  100% {
    border-radius: 10%;
  }
}

@keyframes circles-to-rhombuses-background-animation {
  50% {
    opacity: 0.4;
  }
}
