body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7a20d5;
  --secondary-color: #9950e2;
  --thirdary-color: #601ba5;
  --gray-color: #353535;
  --light-gray-color: #bdbdbd;
  --primary-gradient: linear-gradient(
    to right,
    var(--thirdary-color) 0%,
    var(--secondary-color) 100%
  );
  --primary-gradient--inverted: linear-gradient(
    to right,
    var(--secondary-color) 0%,
    var(--thirdary-color) 100%
  );
  --sm-gutter: 8px;
  --md-gutter: 16px;
}

button {
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

button.default-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 0 var(--md-gutter);
  background: linear-gradient(to right, var(--thirdary-color) 0%, var(--secondary-color) 100%);
}

button.cancel-button {
  background: white;
  color: var(--primary-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.primary-input {
  width: 100%;
  border: 2px solid #8a42d2;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  color: #964ddf;
}

.md-margin-top {
  margin-top: var(--md-gutter);
}

.nightmare-panel-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.nightmare-panel-container {
  width: 800px;
  height: 600px;
  border-radius: 8px;
  background-color: white;
}

.nightmare-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 16px;
  border-bottom: 1px solid var(--light-gray-color);
}

.nightmare-panel-header__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nightmare-panel-header__username {
  display: flex;
  flex-direction: column;
  margin-left: var(--sm-gutter);
}

.nightmare-panel-header__username > span:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
}

.nightmare-panel-header__username > span:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-color);
}

.nightmare-panel-header__title > h2 {
  font-size: 22px;
  color: var(--primary-color);
}

.nightmare-panel-header__exit {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--thirdary-color);
  user-select: none;
}

.nightmare-panel-header__exit > i {
  font-size: 24px;
  margin-left: var(--sm-gutter);
  transform: rotate(180deg);
}

.nightmare-panel-account {
  display: flex;
  flex-direction: row;
  padding: var(--md-gutter);
}

.nightmare-panel-account__info {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: var(--gray-color);
  margin-right: var(--md-gutter);
}

.nightmare-panel-account__info i {
  font-size: 22px;
  color: var(--primary-color);
  margin-right: var(--sm-gutter);
}

.nightmare-panel-item-card {
  width: 100%;
  border-radius: 8px;
  padding: var(--md-gutter);
  margin-bottom: var(--md-gutter);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
}

.nightmare-panel-item-card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nightmare-panel-item-card .image img {
  width: 70%;
}

.nightmare-panel-item-card h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-color);
}

.nightmare-panel-item-card h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  color: var(--gray-color);
}

.nightmare-panel-item-card__footer {
  display: flex;
  flex-direction: row;
}

.nightmare-panel-item-card .buy {
  justify-content: center;
  font-size: 20px;
  width: 2.2em;
  height: 40px;
}

/* Quantity component */
.nightmare-vue-quantity {
  display: flex;
  flex: 1;
}

.nightmare-vue-quantity input {
  border: 0;
  width: 1.8rem;
  height: 40px;
  text-align: center;
  color: var(--primary-color);
  font-size: 1em;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.nightmare-vue-quantity button {
  display: flex;
  width: 2em;
  height: 40px;
  font-size: 1rem;
  color: white;
  align-items: center;
  justify-content: center;
}

.nightmare-vue-quantity button:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--primary-gradient--inverted);
}

.nightmare-vue-quantity button:nth-child(3) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: var(--primary-gradient);
}

#debug {
  color: white;
}
