body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7a20d5;
  --secondary-color: #9950e2;
  --thirdary-color: #601ba5;
  --gray-color: #555555;
  --light-gray-color: #bdbdbd;
  --sm-gutter: 8px;
  --md-gutter: 16px;
}

button {
  border: 0;
  background: transparent;
  outline: none;
}

button.default-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 0 var(--md-gutter);
  background: linear-gradient(to right, var(--thirdary-color) 0%, var(--secondary-color) 100%);
}

button.cancel-button {
  background: white;
  color: var(--primary-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.primary-input {
  width: 100%;
  border: 2px solid #8a42d2;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
  color: #964ddf;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-color);
}

.md-margin-top {
  margin-top: var(--md-gutter);
}

.nightmare-panel-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.nightmare-panel-container {
  width: 700px;
  height: 500px;
  border-radius: 8px;
  background-color: white;
}

.nightmare-panel-header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 16px;
  border-bottom: 1px solid var(--light-gray-color);
}

.nightmare-panel-header__info {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.nightmare-panel-header__username {
  display: flex;
  flex-direction: column;
  margin-left: var(--sm-gutter);
}

.nightmare-panel-header__username > span:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
}

.nightmare-panel-header__username > span:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-color);
}

.nightmare-panel-header__exit {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--thirdary-color);
  user-select: none;
}

.nightmare-panel-header__exit > i {
  font-size: 24px;
  margin-left: var(--sm-gutter);
  transform: rotate(180deg);
}

.nightmare-panel-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.nightmare-panel-content__resume {
  flex: 1;
  padding: var(--md-gutter);
}

.nightmare-panel-content__resume .balance-amount {
  position: relative;
}

.nightmare-panel-content__resume .balance-amount > span:nth-child(1) {
  position: absolute;
  font-size: 10px;
  top: 6px;
}

.nightmare-panel-content__resume .balance-amount > span:nth-child(2) {
  font-size: 22px;
  margin-left: var(--sm-gutter);
}

.nightmare-panel-content__resume .transactions {
  width: 100%;
}

.nightmare-panel-content__resume .transactions > thead > tr > th {
  text-align: left;
  color: var(--light-gray-color);
  font-size: 13px;
  font-weight: 500;
}

.nightmare-panel-content__resume .transactions > tbody > tr > td {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  padding: var(--md-gutter) 0;
}

.nightmare-panel-content__actions {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: var(--md-gutter);
}

.nightmare-panel-content__actions .withdraw-button,
.nightmare-panel-content__actions .deposit-button,
.nightmare-panel-content__actions .transfer-button {
  width: 100%;
  margin-bottom: var(--md-gutter);
}

.nightmare-panel-content__actions .withdraw-button > i,
.nightmare-panel-content__actions .deposit-button > i,
.nightmare-panel-content__actions .transfer-button > i {
  margin: 0 var(--sm-gutter);
  font-size: 24px;
}

.nightmare-panel-modal__title {
  margin-left: var(--md-gutter);
  color: var(--primary-color);
}

.nightmare-panel-modal__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--md-gutter);
}

.nightmare-panel-modal__footer {
  display: flex;
  flex-direction: row;
  padding: var(--md-gutter);
}

#debug {
  color: white;
}
