<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="nightmare-loadscreen">
        <div class="brand">
          <img src="img/logo.png" alt="Nightmare" width="500" />
        </div>
        <div class="nightmare-loadscreen__loader">
          <div class="nightmare-loadscreen__loader-label">{{ msg }}</div>
          <div class="circles-to-rhombuses-spinner">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </div>
        <div id="debug">{{ debug }}</div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
